@charset "utf-8";
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/minireset";
@import "~bulma/sass/base/generic";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/layout/hero";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/title";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-main, .title-main {
  max-width: 760px;
  margin: 0 auto;
}

#wrapper {
  flex: 1;
}
